body {
  margin: 0;
  background-color: rgba(0, 128, 96, 0.217);
  
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 90%;
  background-color: white;
  margin: 0 auto;
  border-radius: 20px;
  max-width: 100%;
}

@media (max-width: 2000px) {
  .products-grid {
    grid-template-columns: repeat(7, 1fr);
    
  }
}

/* This @media means when the screen width is 1600px or
   less, we will divide the grid into 6 columns. */
@media (max-width: 1600px) {
  .products-grid {
    grid-template-columns: repeat(6, 1fr);
    
  }
}

@media (max-width: 1300px) {
  .products-grid {
    grid-template-columns: repeat(5, 1fr);
    
  }
}

@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
    
  }
}

@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
    
  }
}

@media (max-width: 575px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
    
  }
}

@media (max-width: 450px) {
  .products-grid {
    grid-template-columns: 1fr;
    
  }
}

.product-container{
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;

   
  border-bottom: 1px solid rgb(231, 231, 231);

  display: flex;
  flex-direction: column;
  gap:5px;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 180px;
  margin-bottom: 20px;
 
}

.product-image {
  /* Images will overflow their container by default. To
    prevent this, we set max-width and max-height to 100%
    so they stay inside their container. */
  max-width: 100%;
  max-height: 100%;
}

.added-icon {
  width: 90px;
  height: auto;
  margin-right:0px;
  
}

.added-to-cart-inactive{
  display: none;
}

.added-to-cart-active{
  display:block;
}

.product-quantity-container{
  display:flex;
  gap: 10px;
}

.pagination{
  display: flex;
  width:max-width;
  justify-content: center;
  align-items: center;
  height:50px;
  gap:10px;
}

.pagination-button{
   width: 36px;
  height: 36px;
  border: 1px solid #d1d5db;
  background: white;
  cursor: pointer;
}

.pagination-button.active {
  background: #111827;
  color: white;
}